<footer>
	<div class="sitefooter">
		<div class="footercontent">
			<div class="footernavigation">
				<div>
					<h6>Documentation</h6>
					<a href="{% link docs/stable/index.md %}">Getting Started</a><br/>
					<a href="{% link docs/installation/index.html %}">Installation</a><br/>
					<a href="{% link docs/stable/tutorials/overview.md %}">How To</a><br/>
					<a href="{% link about_imagec.md %}">About ImageC</a><br/>
					<a href="{% link faq.md %}">FAQ</a><br/>
				</div>
				<div>
					<h6>Development</h6>
					<a href="{% link docs/stable/dev/building.md %}">Building ImageC</a><br/>
					<a href="https://github.com/joda01/imagec/issues">GitHub Issues</a><br/>
				</div>
				<!--
				<div>
					<h6>Organizations</h6>
					<a href="https://www.plus.ac.at/" target="_blank">Paris Lodron Universität Salzburg</a><br/>
					<a href="https://lbg.ac.at/" target="_blank">Ludwig Boltzmann Gesellschaft</a>
				</div>
			-->
				<div>
					<h6>Community</h6>
					<a href="https://github.com/joda01/imagec/discussions" target="_blank">GitHub</a><br/>
					<a href="https://forum.image.sc/tag/imagec" target="_blank">Forum (image.sc)</a><br/>
				</div>
			</div>
			<div class="footerlogo imagec_logo"></div>
			<div class="bottomline">
				<div>© {{ "now" | date: "%Y" }} Joachim Danmayr, Salzburg AT</div>
			</div>
		</div>
	</div>
</footer>
