<p>This page contains installation options for ImageC. For best performance we recommend using the Linux version of ImageC.</p>
<p>More packages and release notes are available on <a href="https://github.com/joda01/imagec/releases">GitHub</a>.</p>



<table style="width: 100%;">
    <tbody>
    <tr>
    <td>
        <img src="/images/linux_logo.svg" style="width:64px;height:64px;"alt="Linux">
    </td>
    <td>
        <p><b>Linux</b></p>
        <p><a href="https://github.com/joda01/imagec/releases/latest/download/imagec-x64-linux-bundle.zip">Download</a> for Linux</p> 
        <p>Version: {{ site.data.release_linux_x64.version }}</br>
        Timestamp: {{ site.data.release_linux_x64.timestamp }}</p>
    </td>
    </tr>
    <tr>
        <td>
            <img src="/images/windows_logo.svg" style="width:64px;height:64px;"alt="Linux">
        </td>
    <td>
        <p><b>Windows</b></p>
        <p><a href="https://github.com/joda01/imagec/releases/latest/download/imagec-x64-win-bundle.zip">Download</a> for Windows</p> 
        <p>Version: {{ site.data.release_win_x64.version }}</br>
        Timestamp: {{ site.data.release_win_x64.timestamp }}</p>
    </td>
    </tr>
    <tr>
        <td>
            <img src="/images/apple_logo.svg" style="width:64px;height:64px;"alt="Linux">
        </td>
    <td>  
        <p><b>macOS</b></p>
        <p><a href="https://github.com/joda01/imagec/releases/latest/download/imagec-armv8-macos-bundle.zip">Download</a> for macOs</p> 
        <p>Version: {{ site.data.release_macos_arm64.version }}</br>
        Timestamp: {{ site.data.release_macos_arm64.timestamp }}</p>
    </td>
    </tr>
    </tbody>
</table>
