
<style>
    label {
        display: block;
        margin-top: 1rem;
        font-weight: bold;
    }
    select {
        width: 100%;
        padding: 0.5rem;
        margin-top: 0.5rem;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
</style>

<b>{{ site.data.releases.version }}</b><br><i>{{ site.data.releases.timestamp }}</i>
 

<label for="os">Select Operating System</label>
<select id="os">
    <option value="" selected disabled>Select OS</option>
    <option value="linux">Linux (Intel 64-bit)</option>
    <option value="windows">Windows (Intel 64-bit)</option>
    <option value="mac">macOS (Apple Silicon ARM64)</option>
</select>

<div id="variant-container" style="display:none;">
    <label for="variant">Variant</label>
    <select id="variant">
        <option value="" selected disabled>Select Variant</option>
        <option value="cpu">Processor Only (no GPU)</option>
        <option value="cuda">NVIDIA GPU Acceleration (CUDA)</option>
    </select>
</div>

<p>
<button style="display: none" id="download-btn"  class="button blue" onclick="download()">Download</button>
</p>
<p>
<div class="info-box" id="info-box"></div>
</p>

<p>For a full list of hardware requirements and supported graphic cards see section <a href="{% link docs/stable/technical/limits.md %}">Resources and Limits</a>.<br>
More packages and release notes are available on <a href="https://github.com/joda01/imagec/releases">GitHub</a>.</p>


<div id="run-linux" style="display: none">
<h2>Run on Linux</h2>

Unzip downloaded files and just double click on <code>imagec</code>. <br>

If it does not start try to open the terminal and execute <code>./imagec.sh</code>.
</div>

<div id="run-win" style="display: none">
<h2>Run on Windows</h2>

Unzip downloaded files and just double click on <code>imagec.exe</code>. <br>
Windows tries to protect you from eval software.
You can ignore this message by clicking <b>More info</b>:

<img src="{% link images/installation/win_run_01.png %}" style="width:50%;" alt="step 01"></img>

<p>and <b>Run anyway</b> afterwards:</p>

<img src="{% link images/installation/win_run_02.png %}" style="width:50%;" alt="step 02"></img>
</div>

<div id="run-macos" style="display: none">
<h2>Run on macOS</h2>

<blockquote class="warning">
<h4>Warning</h4>
<p>A macOS build is available; however, Apple computers are not officially supported right now. Please use it at your own risk.</p>
</blockquote>

MacOS automatically quarantines applications that do not pay a fee to Apple for application signing.<br>
We have to remove imagec from this quarantine.

<p>
First move the downloaded <code>imagec</code> folder from <code>Downloads</code> to the <code>Applications</code> folder.
Try to start the application which let macOS move it to quarantine.<br>
Now open a terminal and type: <code>xattr -d com.apple.quarantine imagec.app</code> to remove imagec from the quarantine.
</p>


<img src="{% link images/installation/mac_run_01.png %}" style="width:50%;border: 1px solid #555;" alt="step 01"></img>
</div>


<script>
    const osSelect = document.getElementById('os');
    const variantContainer = document.getElementById('variant-container');
    const variantSelect = document.getElementById('variant');
    const infoBox = document.getElementById('info-box');
    const downloadBtn = document.getElementById('download-btn');
    const runOnLinux = document.getElementById('run-linux');
    const runOnWin = document.getElementById('run-win');
    const runOnMac = document.getElementById('run-macos');

    const downloads = {
        windows: {
            cpu: { url: '{{ site.data.releases.wincpu.download }}', size: '{{ site.data.releases.wincpu.size }}',name: '{{ site.data.releases.wincpu.name }}', requirements: 'Windows 10+, 4 GB RAM, Dual-core CPU' },
            cuda: { url: '{{ site.data.releases.wincuda.download }}', size: '{{ site.data.releases.wincuda.size }}',name: '{{ site.data.releases.wincuda.name }}', requirements: 'Windows 10+, NVIDIA GPU (CUDA 12.8+), 8 GB RAM' }
        },
        linux: {
            cpu: { url: '{{ site.data.releases.linuxcpu.download }}', size: '{{ site.data.releases.linuxcpu.size }}',name: '{{ site.data.releases.linuxcpu.name }}', requirements: 'Ubuntu 20.04+, 4 GB RAM, Dual-core CPU' },
            cuda: { url: '{{ site.data.releases.linuxcuda.download }}', size: '{{ site.data.releases.linuxcuda.size }}',name: '{{ site.data.releases.linuxcuda.name }}', requirements: 'Ubuntu 20.04+, NVIDIA GPU (CUDA 11+), 8 GB RAM' }
        },
        mac: {
            default: { url: '{{ site.data.releases.macoscpu.download }}', size: '{{ site.data.releases.macoscpu.size }}',name: '{{ site.data.releases.macoscpu.name }}', requirements: 'macOS 11+, 4 GB RAM, Apple Silicon (M1, M2, M3)' }
        }
    };

    function updateButtonVisibility() {
        if (osSelect.value === 'mac') {
            downloadBtn.style.display = 'block';
        } else if ((osSelect.value === 'linux' || osSelect.value === 'windows') && variantSelect.value) {
            downloadBtn.style.display = 'block';
        } else {
            downloadBtn.style.display = 'none';
        }
    }

    function updateDescriptionVisibility() {
        if (osSelect.value === 'mac') {
            runOnMac.style.display = 'block';
            runOnLinux.style.display = 'none';
            runOnWin.style.display = 'none';
        } else if (osSelect.value === 'linux') {
            runOnMac.style.display = 'none';
            runOnLinux.style.display = 'block';
            runOnWin.style.display = 'none';
        } else if(osSelect.value === 'windows'){
            runOnMac.style.display = 'none';
            runOnLinux.style.display = 'none';
            runOnWin.style.display = 'block';
        } else {
            runOnMac.style.display = 'none';
            runOnLinux.style.display = 'none';
            runOnWin.style.display = 'none';
        }
    }

    osSelect.addEventListener('change', () => {
        variantSelect.value = '';
        infoBox.style.display = 'none';

        if (osSelect.value === 'linux' || osSelect.value === 'windows') {
            variantContainer.style.display = 'block';
        } else {
            variantContainer.style.display = 'none';
            const info = downloads.mac.default;
            infoBox.innerHTML = `<b>Size:</b> ${info.size}<br><b>Name:</b> ${info.name}<br><b>Min. requirements:</b> ${info.requirements}`;
            infoBox.style.display = 'block';
        }
        updateButtonVisibility();
        updateDescriptionVisibility();
    });

    variantSelect.addEventListener('change', () => {
        const os = osSelect.value;
        const variant = variantSelect.value;

        if (os && variant) {
            const info = downloads[os][variant];
            infoBox.innerHTML = `<b>Size:</b> ${info.size}<br><b>Name:</b> ${info.name}<br><b>Min. requirements:</b> ${info.requirements}`;
            infoBox.style.display = 'block';
            updateButtonVisibility();
        }
    });

    function download() {
        const os = osSelect.value;
        const variant = variantSelect.value;

        if (!os) {
            alert('Please select an operating system.');
            return;
        }

        if ((os === 'linux' || os === 'windows') && !variant) {
            alert('Please select a variant.');
            return;
        }

        let url = '';
        if (os === 'mac') {
            url = downloads.mac.default.url;
        } else {
            url = downloads[os][variant].url;
        }

        window.location.href = url;
    }
</script>
