<section id="quickinstall">
	<div class="flexwrap wrap">
		<div class="intro">
			<h1>Installation</h1>
			<p>ImageC is open source and available for different operating systems</p>
			<a href="{{ site.baseurl }}/docs/installation/" class="button transparent">More installation options</a>
		</div>
		<!--<div class="install">
			<div class="window">
				<div class="topbar environment">
					<ul>
						<div class="select-highlight"></div>
						<li data-client="linux" class="active">Linux</li>
						<li data-client="windows">Windows</li>
						<li data-client="macos">MacOs</li>
					</ul>
				</div>
				
				<div class="result content">
					<a href="https://github.com/joda01/imagec/releases/latest/download/imagec-x64-win-bundle.zip" target="_blank">imagec-x64-win-bundle.zip</a>
				</div>
				
				<div class="bottombar">
					<p class="system">
						<span>Latest release: ImageC {{ site.current_imagec_version }} | </span>
						<span class="systemdetected">System detected: </span>
					</p>
				</div>	
	</div>-->
</section>

<section class="hidden">
	
<div id="quick-installation">


<div data-install="windows">
	<a href="https://github.com/joda01/imagec/releases/latest/download/imagec-x64-win-bundle.zip" target="_blank">imagec-x64-win-bundle.zip</a>
</div>

<div data-install="linux">
	<a href="https://github.com/joda01/imagec/releases/latest/download/imagec-x64-linux-bundle.zip" target="_blank">imagec-x64-linux-bundle.zip</a>
</div>

<div data-install="macos">
	<a href="https://github.com/joda01/imagec/releases/latest/download/imagec-arm64-macos-bundle.zip" target="_blank">imagec-arm64-macos-bundle.zip</a>
</div>

</div>

</section>